body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


.main_container {
    padding: 2rem;
    text-align: center;
}

.slots-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.slots-table th,
.slots-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.slot-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.slot-button:hover {
    background-color: #45a049;
}

